@font-face {
  font-family: "Optima";
  src: url("fonts/Optima-Font/OPTIMA.TTF") format("truetype"),
    url("fonts/Optima-Font/OPTIMA_B.TTF") format("truetype"),
    url("fonts/Optima-Font/unicode.optima.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Optima nova LT Pro";
  src: url("fonts/optima-nova-lt-pro-cufonfonts/OptimaNovaLTProRegular.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  margin: 76px 0 119px 59px;
}

/* content */
.content {
  display: flex;
  flex-direction: column;
  width: 498px;
}

.content-h11 {
  width: 130px;
  height: 20px;
  margin-top: 73px;
  margin-left: 2px;
  opacity: 0.7;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #402c22;
}

.content-h12 {
  width: 498px;
  height: 201px;
  margin-top: 15px;
  color: #402c22;
  font-family: "Optima";
  font-weight: 400;
  font-size: 63px;
  line-height: 66.78px;
  letter-spacing: -1.26px;
}

.content-items {
  margin-top: -34px;
}

.content-item {
  display: flex;
  justify-content: space-between;
  width: 452px;
  height: 27px;
}

.content-item-p1 {
  color: var(--Text, #402c22);
  /* PC/Heading/H6 */
  font-family: "Optima nova LT Pro";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26.84px;
  letter-spacing: -0.44px;
}

.content-item-p2 {
  margin-top: 7px;
  width: 403px;
  height: 69px;
  opacity: 0.8;
  font-family: "Inter";
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0px;
  color: #402c22;
}

.content-minus {
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  color: #402c22;
}

.content-plus {
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  color: #402c22;
}

.content-divider {
  display: flex;
  width: 452px;
  height: 1px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: var(--Border, #d9d5d3);
  margin: 16px 0;
}

/* l-image */
.l-image {
  width: 764px;
  height: 851px;
  flex-shrink: 0;
  margin-left: 99px;
}

/* s-image */
.s-image {
  width: 553px;
  height: 551px;
  flex-shrink: 0;
  margin-left: 16px;
}
